.project-title {
  color: #faca66;
  padding: 10px 0;
}

.card-title {
  padding-left: 10px;
  padding-bottom: 10px;
}

.project {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 15px;
}

@media (max-width: 1850px) {
  .project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
  }
}