.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  color: #faca66;
  list-style-type: none;
}

li {
  margin-right: 15px;
}

.btn-cv {
  padding: 10px;
  margin: 0 15px 10px 0;
  background-color: #faca66;
  border: #faca66;
}

a {
  text-decoration: none;
  color: #000;
}

.btn-cv:hover {
  background-color: #c2932f;
  cursor: pointer;
}

@media (max-width: 470px) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .btn-cv {
    margin-top: 20px;
  }
}